<<<<<<< HEAD
   This top section defines css defaults to maintain browser compatibility
=======
/*   This top section defines css defaults to maintain browser compatibility
>>>>>>> refs/remotes/origin/master
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  font-family: "Rockwell", "Comic Sans MS", "Comic Sans";
  vertical-align: top;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-spacing: 0;
}
/*End of css reset */
/*------------------*/

body {
background:#fff;
color: #333;
line-height: 1.2em;
}

#page {
float:left;
width:100%;
padding: 0;
}

#container {
float:left;
min-width: 480px;
width:100%;
}

#container-outer {
float:left;
width:100%;
}

#container-inner {
margin: 0 30px;
}

#content-wrapper {
width:100%;
float:left;
margin: 20px 0;
}

/* Header
-------------------------------------------------------------- */

#skip-link {
left: 50%;
margin-left: -5.25em;
margin-top: 0;
position: absolute;
width: auto !important;
z-index: 50;
}

#skip-link a, #skip-link a:link, #skip-link a:visited {
display: block;
position: absolute;
text-decoration: none;
top: -10000px;
width: 1px;
height: 1px;
}

#header-wrapper {
float:left;
width:100%;
}

#header-background {
  position: absolute;
  
  z-index: -1;
  background-position: top;
  top: -2px;
  left: 0px;
  width: 100%;
  height: 115px;
}

#header {
height:110px;
overflow:hidden;
}


#header .branding {
margin-top:2px;
}

#header h1, #header h2 {
color: #0000FF;
font-size: 56px;
text-align: left;

padding:3px 5px 10px 10px;
font-weight: 900;
text-shadow: black 4px 3px;
white-space: nowrap;
line-height: 0.9em;
}


#header h2 {
color:#000;
padding-bottom: 5px;
font-size:24px;
text-shadow: grey 1px 1px, grey -1px -1px;
}

#header h1 a:hover, #header h2 a:hover, #header h1 a:link, #header h2 a:link, #header h1 a:active, #header h2 a:active, #header h1 a:visited, #header h2 a:visited {
text-decoration:none;
color: #00F;
}

#search-wrapper {
clear:both;
float:right;
margin: 0 40px;
}

#search-box {
margin: 25px 0 0;
}

#search-box input.form-text {
border: 1px solid #99CCFF;
width: 10em;
}

#search-box .form-item {
background:none;
border:none;
} 

/* Heading
-------------------------------------------------------------- */
h1, h2, h3 {
text-align: center;
font-size:3em;
color: #000000;
font-weight: 900;
text-shadow: grey 2px 1px, grey -1px -1px;
}

h2 {
font-size:2em;
}

h3 {
font-size:1.4em;
}

h4 {
font-size:1.2em;
}

h5 {
font-size:1.1em;
}

h6 {
font-size:1em;
}

/* Link
-------------------------------------------------------------- */

#aggregator .feed-item-title a:hover {
text-decoration:none;
}

/* Navigation
-------------------------------------------------------------- */

#nav {
  margin: 0;    
  padding: 0 0;
  z-index: 1;
  line-height: 30px;
}
#nav ul {
  line-height: 24px;
  padding-left: 3%;
  padding-right: 3%;
}
#nav a {
 display: block;
 padding: 0 1em 0 0;
 margin: 0;
}
#nav li {
  float: left;
  list-style-type: none;
}
#nav a, #nav a:visited {
  color: #000;
  display: block;
}
#nav a:hover {
  color: #fff;
}
#nav a:hover, 
#nav a:active, 
.current_page_item a, 
#home .on { 
}
#nav li ul {
  height: auto;
  left: -999em;
  line-height: 35px;
  margin: 0; 
  padding: 10px 0;
  position: absolute;
  width: 200px;
  background-color: #5F6B02;
  border-bottom: 1px solid #222; 
  border-right: 1px solid #222
}
#nav li li {
  width: 200px;
}
#nav li li a,
#nav li li a:visited {
  border-bottom: none;
}
#nav li li a:hover, 
#nav li li a:active {
}
#nav li:hover ul, 
#nav li li:hover ul, 
#nav li li li:hover ul,
#nav li.sfhover ul, 
#nav li li.sfhover ul, 
#nav li li li.sfhover ul {
  left: auto;
}

/* Dropdown Menu CSS */
/* Primary Menu
-------------------------------------------------------------- */
/* menu layout */
#primary-menu {                                   
  display: block;
  padding: 0;
  position: relative;
}
#primary-menu ul.menu {
  margin: 0;
}

/* top item layout */
#primary-menu ul.menu li {                        
  background-image: none;
  display: block;
  float: left;
  margin: 0;
  padding: 0 8px 0 0;
  position: relative;
  /*width: 75px;*/
}
#primary-menu ul.menu li a,
#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited {
  display: block;
}
#primary-menu ul.menu li ul {
  background: black;
  border-top: 4px solid black;
  border-bottom: 2px solid  grey;
  border-right:2px solid grey;
  border-left:2px solid grey;
  height:auto;
  left:-999em;
  line-height:20px;
  margin:0;
  padding:0;
  position:absolute;
  width:200px;
  z-index: 10;
} 
#primary-menu ul.menu li:hover ul {
  display: block;
  left: auto;
}  
#primary-menu ul.menu li ul li {
  float: left;
  font-size: 0.857em;
  height: auto;
  margin: 0;
  padding: 0;
  width: 140px;
}  
#primary-menu ul.menu li ul li a,
#primary-menu ul.menu li ul li a:link,
#primary-menu ul.menu li ul li a:visited {
  background: transparent;
  display: block;
  margin-top: 5px 0;
  padding: 5px;
  text-decoration: none;
}
#primary-menu ul.menu li ul li a:hover,
#primary-menu ul.menu li ul li a:active,
#primary-menu ul.menu li ul li a.active {
  background: transparent;
} 

#menu-wrapper {
float:left;
width: 100%;
height:24px;
background: #000;
color:white;
text-align:center;
font-size:20px;
border-top: 2px solid grey;
border-bottom: 2px solid  grey;
word-spacing: 5px;

}

#menu-wrapper li {
display: inline;
  list-style: none;
  white-space: nowrap;
}

#menu-wrapper li a:link, #menu-wrapper li a:visited {
  color: #CCCCCC;
  text-decoration: none;
}

 #menu-wrapper li a:hover, #menu-wrapper li a:active {
  color: #0000FF;
  text-decoration: none;
}

#main-menu {
float:left;
width: 100%;
}

#main-menu a {
color:#99CCFF;
}

#sub-menu {
float:right;
margin: 0 30px;
padding: 5px 0;
background: black;
color:#fff;
}

#sub-menu ul {
float:right;
}

#sub-menu a {
color:#99CCFF;
}

#sub-menu a:hover {
text-decoration:none;
color:#fff;
}

#sub-menu ul {
padding:0;
margin:0;
}

#sub-menu ul li{
float:left;
background-image:none;
padding: 0 10px;
margin:0;
}

#sub-menu .menu li.first {
padding-left:20px;
}

#sub-menu .menu li.last {
padding-right:20px;
}

#sub-menu ul li.active-trail a, #sub-menu ul li a:active{
text-decoration:none;
color:#fff;
}

/* Sidebar regions
-------------------------------------------------------------- */

#sidebar-side-1 #sidebar-left {
min-width: 80px;
max-width: 200px;
width: 15%;
float: left;
margin: 0 10px 0 0px;
}

#sidebar-side-2 #sidebar-left {

width: 21%;
float: left;
margin-right: 2%;
}

.sidebars-1 #main-content{
min-width: 360px;
width: 85%;
float: left;
}

.sidebars-2 #main-content{
width: 54%;
float: left;
}

#sidebar-side-1 #sidebar-right {
width: 20%;
float: right;
}

#sidebar-side-2 #sidebar-right {
width: 21%;
float: right;         
}

#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
padding: 15px 0 0;
margin: 0 15px;
font-size: 1.3em;
border-bottom:1px solid #DBE6D6;
background: #F3F7F0;
}

#sidebar-left .content,
#sidebar-right .content {
padding: 5px 15px;
}

.sidebar .block{
background: #F3F7F0;
margin:0;
padding:0;
}

/* Node
-------------------------------------------------------------- */

#main-content h1.title {
margin: 0;
line-height: 0.5em;
}

#main-content p{
  padding: 10px 0;
}


.node h2.title{
margin:0;
line-height: 1.5em;
}

.node h2.title a, a:visited{
text-decoration: none;
color: black;
}

.node h2.title a:hover{
text-decoration: none;
color: #555555;
}

.breadcrumb {
padding:0;
}

.content {
padding:0;
margin:0;
}

.node .content, .comment .content {
margin: .5em 0 .5em;
}

.node .links {
padding: 0.3em;
background:#F3F7F0;
}

.node {
margin: auto auto;
margin-bottom:30px;
}

.mission {
border: 1px solid #F3F7F0;
background: #F3F7F0;
margin: 0 auto 15px;
font-size:20px;
font-style:italic;
line-height:1.2em;
}

.mission .block-title {
margin-top:15px;
}

.mission .region {
margin:15px;
}

.content-top{
border: 1px solid #F3F7F0;
background: #F3F7F0;
margin: 0 auto 15px;
}

.content-top .block-title {
margin-top:15px;
}

.content-top .region {
margin:15px;
}

.submitted {
color:#999999;
}

.preview .node, .preview .comment{
border: 1px solid #DBE6D6;
background: #F3F7F0;
padding: 0.8em;
}

.node-sticky {
padding: 15px;
background: #F3F7F0;
}

.node-book .links {
padding-top:5px;
}

.messages {
padding: 0.3em;
margin-bottom: 1em;
background: #F3F7F0;
border:1px solid #DBE6D6;
}

.comment {
padding: 1em;
margin-bottom: 1em;
padding-bottom: 1em;
background: #F3F7F0;
}

.comment .new {
text-align: right; /* LTR */
font-weight: normal;
float: right; /* LTR */
color: red;
margin:.5em;
}

.error {
margin-top:5px;
}

.node .user-picture, .comment .user-picture {
float: right;
margin-left: 10px;
}

.node .user-picture img, .comment .user-picture img {
width:60px;
}


/* Forums
-------------------------------------------------------------- */

#forum {
padding-bottom:10px;
}

#forum table {
width: 100%;
}

#forum td {
padding: 0.5em;
}

#forum td.forum, #forum td.posts {
background-color: #F3F7F0;
}

#forum td.topics, #forum td.last-reply {
background-color: #F3F7F0;
}

#forum td.container {
background-color: #F3F7F0;
}

#forum ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
padding-bottom: 5px;
}

#forum ul.links li.forum a {
background-image:url(images/post.gif);
}

#forum ul.links li.login a {
background-image:url(images/lock.gif);
}

#forum td.statistics, #forum td.settings, #forum td.pager {
height: 1em;
}

#forum td .links {
padding-top: 0.7em;
}

#forum .links {
padding-bottom: 0.7em;
}

.block-forum h3 {
margin-bottom: .5em;
}

dl dd {
margin: 0 0 .5em 1em;
}

.forum-topic-navigation {
border-bottom:1px solid #DBE6D6;
border-top:1px solid #DBE6D6;
background: #F3F7F0;
margin-bottom:15px;
}

tr.even, tr.odd {
background-color:#F3F7F0;
border:none;
border-bottom:1px solid #DBE6D6;
padding:0.1em 0.6em;
}

tbody {
border:none;
border-top:1px solid #DBE6D6;
}

/* User login form
-------------------------------------------------------------- */
.tabs{
  margin-top: 15px;
}

#user-login, #user-register-form, #user-pass {
text-align: center;
max-width: 25%;
min-width: 280px;
}

#user-login ul, #user-register-form ul, #user-pass ul {
text-align: left;
}

#user-login input, #user-register-form input, #user-pass input {
min-width: 260px;
width: 95%;
}

#user-register-form .username{
min-width: 85%;
  width: 220px;
}


#user-login .form-checkbox, #user-register-form .form-checkbox, #user-pass .form-checkbox{
max-width: 40px;
min-width: 15px;
width: 5%;
}

/* Contact Form
------------------------------------------------------------- */
#contact-site-form{
  min-width: 280px;
  width: 50%;
  margin: auto;
}

/* Shopping Cart forms
------------------------------------------------------------- */
#uc-cart-view-form, #uc-cart-checkout-form{
  min-width: 280px;
  width: 80%;
  margin: auto;
}

#uc-cart-checkout-form .cart-review{
width: 98%;
  margin: auto;
  margin-bottom: 3px
 }
 
 .fieldset-wrapper{
 width: 98%;
 margin: auto;
 }
 
#uc-cart-pane-coupon{
max-width: 480px;
  min-width: 200px;
  width: 20%;
  margin-left: 15%;
}

.form-item-panes-coupon-code{
max-width: 480px;
  min-width: 200px;
  width: 20%;
  margin-left:1%;
}

#uc-cart-pane-coupon .compact-form-label{
top: 10px;
left: 14px;
color: #888;
}

#line-items-div{
margin: 1em;
}

.next-button{
margin-top: 0;
}

#review-instructions{
text-align: center;
margin: 3px 0;
}

.field-name-uc-product-image img{
  min-height: 100px;
min-width: 100px;
max-height: 320px;
max-width: 320px;
height: 30%;
width: 30%;
float: right;
}

.attribute{
  max-width: 90%;
  min-width: 160px;
  width: 320px;
}

#uc-cart-view-form .attributes, #uc-cart-view-form .attribute {
  margin: auto;
  text-align: left;
}

.form-type-uc-quantity{
width: 80px;
}

.node-product{
  width: 90%;
  margin: auto;
}



/* Tracker + Profile
-------------------------------------------------------------- */

#tracker table {
width: 100%;
}

#tracker .item-list {
padding-top:15px;
}

#tracker td {
padding: 0.5em;
}

.profile {
clear: both;
padding: .8em;
margin: 1em 0em;
background-color: #F3F7F0;
}

.profile .user-member {
padding-top:10px;
}

.profile h3 {
margin-bottom:10px;
}

/* Poll
-------------------------------------------------------------- */

.poll .bar {
background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
border: solid #F3F7F0;
border-width: 1px 1px 1px;
}

.poll .bar .foreground {
background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

/* Lists + Links + Pager
-------------------------------------------------------------- */

ul, ul li.leaf {
list-style-image: url(images/menu-leaf.gif);
}

ol {
  list-style-image: none;
}


ul li.expanded {
list-style-image: url(images/menu-expanded.gif);
}

ul li.collapsed {
list-style-image: url(images/menu-collapsed.gif); /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
display: block;
}

ul.inline li {
background: none;
margin: 0;
padding: 0 1em 0 0;
}

ol.task-list {
margin-left: 0;
list-style-type: none;
list-style-image: none;
}

ol.task-list li {
padding: 0.5em 1em 0.5em 2em;
}

ol.task-list li.active {
background: transparent url(images/task-list.png) no-repeat 3px 50%;
}

ol.task-list li.done {
color: #393;
background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%;
}

ol.task-list li.active {
margin-right: 1em;
}




ul.links li, ul.inline li {
background-image: none;
}

.links li {
margin: 0;
padding: 0;
}

.tabs li {
margin: 0;
padding: 0;
background-image: none;
}

li.expanded {
list-style-image:none;
list-style-type:none;
margin:0.15em 0 0.15em 0.5em;
padding:0 0 0.2em 1.5em;
}

div.links ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
}

div.comment ul.links a {
background-repeat: no-repeat;
padding-left: 20px;
}

div.links ul.links li.comment_forbidden a {
padding:0;
margin:0;
}

div.links ul.links li.comment_forbidden {
padding:0;
margin:0;
}

div.comment ul.links li.comment_forbidden a {
padding:0;
margin:0;
}

div.comment ul.links li.comment_forbidden {
padding:0;
margin:0;
}

div.links ul.links li.comment_forbidden span {
background-repeat: no-repeat;
padding-left: 20px;
padding-right:20px;
}

div.comment ul.links li.comment_forbidden span {
background-repeat: no-repeat;
padding-left: 20px;
padding-right:20px;
}

div.links ul.links li.comment-add a {
background-image: url(images/commentadd.gif);
}

div.links ul.links li.comment-comments a {
background-image: url(images/comments.gif);
}

div.links ul.links li.comment-new-comments a {
background-image: url(images/comments.gif);
}

div.comment ul.links li.comment-edit a {
background-image: url(images/commentedit.gif);
}

div.comment ul.links li.comment-delete a {
background-image: url(images/commentdelete.gif);
}

div.comment ul.links li.comment-reply a {
background-image: url(images/commentadd.gif);
}

div.links ul.links li.node-readmore a {
background-image: url(images/readmore.gif);
}

div.links ul.links li.blog_usernames_blog a {
background-image: url(images/user.gif);
}

div.links ul.links li.comment_forbidden span {
background-image:url(images/lock.gif);
}

div.comment ul.links li.comment_forbidden span {
background-image:url(images/lock.gif);
}

div.links ul.links li.upload_attachments a {
background-image: url(images/photo.gif);
}

div.links ul.links li.book_printer a{
background-image:url(images/print.gif);
}

div.links ul.links li.book_add_child a{
background-image:url(images/add.gif);
}

ul.pager {
padding-bottom:10px;
}

ul.pager li.pager-current {
background-color:#CC6600;
color:#FFFFFF;
padding: 1px 4px;
}

.item-list .pager li {
padding:0px;
}

.item-list .pager li a{
padding: 1px 4px;
background-color:#005399;
color:#fff;
}

.item-list .pager li a:hover {
background-color:#CC6600;
color:#FFFFFF;
text-decoration:none;
}


/* Admin + Form item
-------------------------------------------------------------- */

table {
width:100%;
}

ul.primary {
border-bottom: 1px solid #DBE6D6;
}

ul.primary li a {
background-color:#005399;
border:1px solid #DBE6D6;
}

ul.primary li.active a {
background-color:#005399;
border:1px solid #DBE6D6;
}

ul.primary li a:hover {
background-color:#005399;
border:1px solid #DBE6D6;
}

div.admin-panel .body {
background: #F3F7F0;
}

div.admin-panel .body .admin-list {
background:none;
}

div.admin-panel h3 {
background: #F3F7F0;
padding: 5px 8px 5px;
margin: 0;
font-weight:bold;
}

div.admin {
padding-top: 0; /* fix alignment of admin panel */
}

/* keep admin columns from dropping under */
div.admin .left,
div.admin .right {
margin-left: 1%;
margin-right: 1%;
}

tr.odd td, tr.even td{
padding: 0.5em;
background: #F3F7F0;
border: 1px solid #DBE6D6;
border-left:none;
border-right:none;
}

.form-item {
background: #F8F7EF;
border: 1px solid #DEDCCB;
padding: 0.5em;
}

#search .form-item {
padding:0;
background: none;
border:none;
}

fieldset {
background: #F3F7F0;
border: 1px solid #DBE6D6;
}

tr.even, tr.odd {
background-color:#F3F7F0;
padding:0.1em 0.6em;
border-bottom: 1px solid #DBE6D6;
}

table.system-status-report th {
border-bottom: 1px solid #DBE6D6;
}

table{
margin-left: auto;
margin-right: auto;
border: 2px solid #666666;
border-spacing: 1px;
background-color: #333333;
border-collapse: separate;
}

th, td{
text-align: center;
background-color: #FFFFFF;
border: 2px solid #999999;
padding:2px 2px 2px 2px ;
}

#onenone {
margin-left:0px;
margin-right: 0px;
border:thin solid black;
border-spacing: 0px;
width: 350px;

}

#onenone th, #onenone td{
text-align: center;
background-color: #FFFFFF;
border-collapse: collapse;
border: 0px;
padding:0px;
height: 30px;

}

.admin-list, .node-type-list {
background: #F3F7F0;
padding:15px;
}

.help-items {
padding:5px;
}

.help {
background: #F3F7F0;
border: 1px solid #DBE6D6;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 10px;
padding-right: 10px;
} 

ul.primary li a {
background: #F3F7F0;
}

ul.primary li a:hover {
background: #F3F7F0;
}

ul.primary li.active a {
background: #F3F7F0;
}

#blocks td.region {
background: #F3F7F0;
}

/* Misc
-------------------------------------------------------------- */

hr{
border: 0;
background-color: #000000;
height: 3px;
width: 100%;
}


#aggregator {
margin-top: 10px;
}

.feed-description {
}

.feed-url, .feed-updated {
padding-top:10px;
}

#aggregator .feed-source {
border:none;
padding: 0.8em;
background: #F3F7F0;
margin-bottom:15px;
}

#aggregator .links {
padding: 0.3em 0.6em;
background:#F3F7F0;
margin-top:15px;
}

.book-navigation .menu {
border-top:1px solid #DBE6D6;
padding:1em 0 0 3em;
padding-bottom:1em;
}

.book-navigation .page-links {
border-bottom:1px solid #DBE6D6;
border-top:1px solid #DBE6D6;
background: #F3F7F0;
margin-bottom:15px;
}

#attachments {
margin-bottom:15px;
}

.feed-item-categories {
padding: 0.3em 0.6em;
margin-bottom:30px;
background:#F3F7F0;
}

#aggregator .feed-item-title {
font-size:1.6em;
}

#tracker {
padding-top:10px;
}

.adsense {
text-align:center;
}

blockquote {
min-width: 300px;
width:50%;
background: url(images/bq-tl.gif) no-repeat left top;
background-color: #eee;
padding-left: 30px;
margin-left: 10px;
font-style:italic;
}

blockquote p {
background: url(images/bq-br.gif) no-repeat right bottom;
}

cite {
background: url(images/bq-tl.gif) no-repeat left top;
clear: both;
display: block;
font-style: italic;
padding-left: 30px;
margin-left: 10px;
}

code, tt, pre {
background-color:#f5ede3;
font-size:0.9em;
line-height:1.2em;
padding:0.3em;
}


/* Bottom
-------------------------------------------------------------- */
#bottom-wrapper {
float:left;
width:100%;
background: #000;
padding:2px 0px;
border-top: 2px solid grey;
border-bottom: 2px solid grey;
color:#fff;
font-size:12px;
}

#bottom-wrapper a {
color:blue;
text-decoration:none;
}

#bottom-wrapper a:hover {
text-decoration:none;
color: #9CF;
}

#bottom-inner {
margin: 0 10px;
}

#bottom {
text-align: left;
width: 100%;
position: relative;
float:left;
}

#bottom .column {
float: left;
width: 100%;
}

#bottom.in1 .column {
width: 100%;
}

#bottom.in2 .column {
width: 50%;
}

#bottom.in3 .column {
width: 33.3%;
}

#bottom.in4 .column {
width: 25%;
}

#bottom .block {
margin: 0 0px;
}

#bottom h2.block-title {
margin-top:0px;
font-size: 1.3em;
}

/* Footer
-------------------------------------------------------------- */
#footer-wrapper {
padding:1px 1px ;

}

#footer h2.block-title {
font-size: 1.3em;
}

#copyright {
text-align:center;
font-size:12px;
}

/* Overlay
-------------------------------------------------------------- */

.overlay #header-wrapper, .overlay #menu-wrapper, .overlay #bottom-wrapper {
display:none;
}

.overlay #container {
width:98%;
}

.theme-info ul {
list-style-image:none;
}

